  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      font-size: 1vmax;
  }


  body {
      height: 100svh;
      background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: transform 0.4s ease;
  }

  h1 {
      font-size: 2vmax;
  }

  sup {
      font-size: 1em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .parent {
      height: 100%;
      width: 90vmin;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .user_input_area {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10%;
      width: 80%;
      position: relative;
  }

  .user_input_area input {
      border: none;
      outline: none;
      padding: 15px 10px;
      border-radius: 7px;
      width: 100%;
  }

  #eye {
      position: absolute;
      right: 5%;
      cursor: pointer;
      transform: scale(1.5);
  }


  .validate-box {
      width: 80%;
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10%;
      padding: 10px;
      background: #496b88;
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
      color: white;
      border-radius: 10px;
  }

  .validate-box div {
      display: flex;
      gap: 4%;
      align-items: center;
  }

  p {
      transition: color 0.4s ease-in-out;
  }

  .commonclass {
      transition: color 0.4s ease-in-out;
  }

  .green {
      color: #54ff7f;
  }

  @media screen and (max-width:800px) {
      * {
          font-size: 1.6vmax;
      }
  }